/* variables */
/* variables - calculated */
@keyframes gt-kf-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* styles */
.gt-container {
  box-sizing: border-box;
  font-size: 16px;
  /* loader */
  /* error */
  /* initing */
  /* no int */
  /* link */
  /* meta */
  /* popup */
  /* header */
  /* comments */
  /* comment */
}
.gt-container * {
  box-sizing: border-box;
}
.gt-container a {
  color: #6190e8;
}
.gt-container a:hover {
  color: #bacff5;
  border-color: #bacff5;
}
.gt-container a.is--active {
  color: #333333;
  cursor: default !important;
}
.gt-container a:hover {
  color: #333333;
}
.gt-container .hide {
  display: none !important;
}
.gt-container .gt-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
}
.gt-container .gt-svg svg {
  width: 100%;
  height: 100%;
  fill: #6190e8;
}
.gt-container .gt-ico {
  display: inline-block;
}
.gt-container .gt-ico-text {
  margin-left: 5px;
}
.gt-container .gt-ico-github {
  width: 100%;
  height: 100%;
}
.gt-container .gt-ico-github .gt-svg {
  width: 100%;
  height: 100%;
}
.gt-container .gt-ico-github svg {
  fill: inherit;
}
.gt-container .gt-spinner {
  position: relative;
}
.gt-container .gt-spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-left: -6px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  border-top-color: #6190e8;
  animation: gt-kf-rotate 0.6s linear infinite;
}
.gt-container .gt-loader {
  position: relative;
  border: 1px solid #999999;
  animation: ease gt-kf-rotate 1.5s infinite;
  display: inline-block;
  font-style: normal;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
}
.gt-container .gt-loader:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  width: 6px;
  height: 6px;
  background-color: #999999;
  border-radius: 50%;
}
.gt-container .gt-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.gt-container .gt-avatar img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.gt-container .gt-avatar-github {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.gt-container .gt-btn {
  padding: 12px 20px;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #6190e8;
  border-radius: 5px;
  background-color: #6190e8;
  color: #ffffff;
  outline: none;
  font-size: 12px;
}
.gt-container .gt-btn-text {
  font-weight: 400;
}
.gt-container .gt-btn-loading {
  position: relative;
  margin-left: 8px;
  display: inline-block;
  width: 12px;
  height: 16px;
  vertical-align: top;
}
.gt-container .gt-btn.is--disable {
  cursor: not-allowed;
  opacity: 0.5;
}
.gt-container .gt-btn-login {
  margin-right: 0;
}
.gt-container .gt-btn-preview {
  background-color: #ffffff;
  color: #6190e8;
}
.gt-container .gt-btn-preview:hover {
  background-color: #f2f2f2;
  border-color: #bacff5;
}
.gt-container .gt-btn-public:hover {
  background-color: #bacff5;
  border-color: #bacff5;
}
.gt-container .gt-error {
  text-align: center;
  margin: 10px;
  color: #ff3860;
}
.gt-container .gt-initing {
  padding: 20px 0;
  text-align: center;
}
.gt-container .gt-initing-text {
  margin: 10px auto;
  font-size: 92%;
}
.gt-container .gt-no-init {
  padding: 20px 0;
  text-align: center;
}
.gt-container .gt-link {
  border-bottom: 1px dotted #6190e8;
}
.gt-container .gt-link-counts,
.gt-container .gt-link-project {
  text-decoration: none;
}
.gt-container .gt-meta {
  margin: 20px 0;
  padding: 16px 0;
  border-bottom: 1px solid #e9e9e9;
  font-size: 16px;
  position: relative;
  z-index: 10;
}
.gt-container .gt-counts {
  margin: 0 10px 0 0;
}
.gt-container .gt-user {
  float: right;
  margin: 0;
  font-size: 92%;
}
.gt-container .gt-user-pic {
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin-right: 8px;
}
.gt-container .gt-user-inner {
  display: inline-block;
  cursor: pointer;
}
.gt-container .gt-user .gt-ico {
  margin: 0 0 0 5px;
}
.gt-container .gt-user .gt-ico svg {
  fill: inherit;
}
.gt-container .gt-user .is--poping .gt-ico svg {
  fill: #6190e8;
}
.gt-container .gt-version {
  color: #a1a1a1;
  margin-left: 6px;
}
.gt-container .gt-copyright {
  margin: 0 15px 8px;
  border-top: 1px solid #e9e9e9;
  padding-top: 8px;
}
.gt-container .gt-popup {
  position: absolute;
  right: 0;
  top: 38px;
  background: #ffffff;
  display: inline-block;
  border: 1px solid #e9e9e9;
  padding: 10px 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.gt-container .gt-popup .gt-action {
  cursor: pointer;
  display: block;
  margin: 8px 0;
  padding: 0 18px;
  position: relative;
  text-decoration: none;
}
.gt-container .gt-popup .gt-action.is--active:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #6190e8;
  position: absolute;
  left: 8px;
  top: 7px;
}
.gt-container .gt-header {
  position: relative;
  display: flex;
}
.gt-container .gt-header-comment {
  flex: 1;
  margin-left: 20px;
}
.gt-container .gt-header-textarea {
  padding: 12px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 82px;
  max-height: 240px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  word-wrap: break-word;
  resize: vertical;
  background-color: #f6f6f6;
  outline: none;
  transition: all 0.25s ease;
}
.gt-container .gt-header-textarea:hover {
  background-color: #ffffff;
}
.gt-container .gt-header-preview {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
}
.gt-container .gt-header-controls {
  position: relative;
  margin: 12px 0 0;
}
.gt-container .gt-header-tip {
  font-size: 14px;
  color: #6190e8;
  text-decoration: none;
  vertical-align: sub;
}
.gt-container .gt-header .gt-btn {
  float: right;
  margin-left: 20px;
}
.gt-container:after {
  content: '';
  position: fixed;
  bottom: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}
.gt-container.gt-input-focused {
  position: relative;
}
.gt-container.gt-input-focused:after {
  content: '';
  position: fixed;
  bottom: 0%;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
  transition: opacity 0.3s, bottom 0s;
  z-index: 9999;
}
.gt-container.gt-input-focused .gt-header-comment {
  z-index: 10000;
}
.gt-container .gt-comments {
  padding-top: 20px;
}
.gt-container .gt-comments-null {
  text-align: center;
}
.gt-container .gt-comments-controls {
  margin: 20px 0;
  text-align: center;
}
.gt-container .gt-comment {
  position: relative;
  padding: 10px 0;
  display: flex;
}
.gt-container .gt-comment-content {
  flex: 1;
  margin-left: 20px;
  padding: 12px 16px;
  background-color: #f9f9f9;
  overflow: auto;
  transition: all ease 0.25s;
}
.gt-container .gt-comment-content:hover {
  box-shadow: 0 10px 60px 0 #f4f4f4;
}
.gt-container .gt-comment-header {
  margin-bottom: 8px;
  font-size: 14px;
  position: relative;
}
.gt-container .gt-comment-block-1 {
  float: right;
  height: 22px;
  width: 32px;
}
.gt-container .gt-comment-block-2 {
  float: right;
  height: 22px;
  width: 64px;
}
.gt-container .gt-comment-username {
  font-weight: 500;
  color: #6190e8;
  text-decoration: none;
}
.gt-container .gt-comment-username:hover {
  text-decoration: underline;
}
.gt-container .gt-comment-text {
  margin-left: 8px;
  color: #a1a1a1;
}
.gt-container .gt-comment-date {
  margin-left: 8px;
  color: #a1a1a1;
}
.gt-container .gt-comment-like,
.gt-container .gt-comment-edit,
.gt-container .gt-comment-reply {
  position: absolute;
  height: 22px;
}
.gt-container .gt-comment-like:hover,
.gt-container .gt-comment-edit:hover,
.gt-container .gt-comment-reply:hover {
  cursor: pointer;
}
.gt-container .gt-comment-like {
  top: 0;
  right: 32px;
}
.gt-container .gt-comment-edit,
.gt-container .gt-comment-reply {
  top: 0;
  right: 0;
}
.gt-container .gt-comment-body {
  color: #333333 !important;
}
.gt-container .gt-comment-body .email-hidden-toggle a {
  display: inline-block;
  height: 12px;
  padding: 0 9px;
  font-size: 12px;
  font-weight: 600;
  line-height: 6px;
  color: #444d56;
  text-decoration: none;
  vertical-align: middle;
  background: #dfe2e5;
  border-radius: 1px;
}
.gt-container .gt-comment-body .email-hidden-toggle a:hover {
  background-color: #c6cbd1;
}
.gt-container .gt-comment-body .email-hidden-reply {
  display: none;
  white-space: pre-wrap;
}
.gt-container .gt-comment-body .email-hidden-reply .email-signature-reply {
  padding: 0 15px;
  margin: 15px 0;
  color: #586069;
  border-left: 4px solid #dfe2e5;
}
.gt-container .gt-comment-body .email-hidden-reply.expanded {
  display: block;
}
.gt-container .gt-comment-admin .gt-comment-content {
  background-color: #f6f9fe;
}
